FORMAT: 1A
HOST: http://sgrouples.com/api/v2/

# Sgrouples API v2
Documentation of Sgrouples API v2

# Sgroupes API Root [/]

## Retrieve Entry Point [GET]

+ Response 200 (application/hal+json)

        {
            "_links": {
                "self": { "href": "/api/v2" },
                "news": { "href": "/api/v2/newsfeed" },
                "groups": { "href": "/api/v2/groups" },
                "messages": { "href": "/api/v2/messages" },
                "contacts" : { "href": "/api/v2/contacts" },
                "cloudstorage" : { "href" : "/api/v2/cloudstorage" }
            }
        }


# Group Groups

## Groups collection [/groups]

### List groups [GET]

+ Response 200 (application/hal+json)

    {
      "confirmedGroups": [
        {
          "color": {
            "defaultColor": "#d3d35d",
            "light": "#e1e193",
            "dark": "#c4c427"
          },
          "name": "Public Group",
          "id": "53833ef6e4b080bf55348897",
          "isPublic": true,
          "descriptionPlain": "Its public group for testing!!!\nDont join here, unless You wont to destroy tests ;)",
          "isConfirmed": true,
          "publicUrlId": "public_group1",
          "isPublicApply": true,
          "publicUrl": "https://groupl.es/join/public_group1",
          "publicRole": "525c8d6fe4b0cfcd83758323",
          "showInPublicDirectory": false,
          "groupThematicType": "Academic",
          "love": true,
          "permissions": [
            "post",
            "comment",
            "reshare",
            "modify",
            "view",
            "invite",
            "change_member_perms",
            "remove_member",
            "delete_group"
          ],
          "showGroupTweets": true,
          "_links": {
            "self": {
              "href": "/api/v2/group/53833ef6e4b080bf55348897"
            },
            "groupAvatar": {
              "href": "/api/v2/photo/53833ef6e4b080bf553488a0/170x130/img.jpg"
            },
            "publicPage": {
              "href": "https://groupl.es/join/public_group1"
            }
          }
        },
        {
          "color": {
            "defaultColor": "#706994",
            "light": "#9f9bb7",
            "dark": "#403770"
          },
          "name": "Private Group",
          "id": "53833f2ae4b080bf553488bd",
          "isPublic": false,
          "descriptionPlain": "",
          "isConfirmed": true,
          "groupThematicType": "Academic",
          "love": true,
          "permissions": [
            "post",
            "comment",
            "reshare",
            "modify",
            "view",
            "invite",
            "change_member_perms",
            "remove_member",
            "delete_group"
          ],
          "showGroupTweets": true,
          "_links": {
            "self": {
              "href": "/api/v2/group/53833f2ae4b080bf553488bd"
            },
            "groupAvatar": {
              "href": "/api/v2/photo/539efd7ce4b0c67cfe6a5e8e/170x130/img.jpg"
            }
          }
        },
        {
          "color": {
            "defaultColor": "#dabe5b",
            "light": "#e6d391",
            "dark": "#cda824"
          },
          "name": "Wrappers Testing",
          "id": "539ee741e4b041cbe2afbd67",
          "isPublic": false,
          "descriptionPlain": "",
          "isConfirmed": true,
          "groupThematicType": "Academic",
          "love": true,
          "permissions": [
            "post",
            "comment",
            "reshare",
            "modify",
            "view",
            "invite",
            "change_member_perms",
            "remove_member",
            "delete_group"
          ],
          "showGroupTweets": true,
          "_links": {
            "self": {
              "href": "/api/v2/group/539ee741e4b041cbe2afbd67"
            }
          }
        }
      ],
      "unconfirmedGroups": [
        {
          "color": {
            "defaultColor": "#52c2ac",
            "light": "#8bd6c7",
            "dark": "#18ad90"
          },
          "name": "Tester2Group",
          "id": "538344bfe4b080bf553497a8",
          "isPublic": false,
          "descriptionPlain": "",
          "isConfirmed": false,
          "groupThematicType": "Academic",
          "love": true,
          "showGroupTweets": true,
          "_links": {
            "self": {
              "href": "/api/v2/group/538344bfe4b080bf553497a8"
            }
          }
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/groups"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }


### Create new group [POST]

Creates new group. All possible data for group creation. This example creates public group with approvals and 2 application questions.
Only name field is mandatory, rest is optional.

+ Request Public group with all data provided (application/json)

    + Headers

            Authorization: Sgrouples accessToken=abc123

    + Body

            {
                "name": "My second group",
                "color": "#dabe5b",
                "groupThematicType": "Academic",
                "isPublic": true,
                "description": "This is just testing group",
                "fileId": "5ca0e8410c2dbea361af663f",
                "crop": {"x": 0, "y": 0, "w": 1024, "h": 768},
                "publicUrlId": "my_second_group",
                "generatePublicUrlId": false,
                "publicRole": "Contributor",
                "isPublicApply": true,
                "applyQuestions" : ["Question1", "Question2"],
                "showInPublicDirectory": false
            }

+ Response 201 (application/hal+json)

    {
      "color": {
        "defaultColor": "#dabe5b",
        "light": "#e6d391",
        "dark": "#cda824"
      },
      "name": "My second group",
      "id": "53847341e4b0301f9d14dbdf",
      "isPublic": true,
      "descriptionPlain": "This is just testing group",
      "publicUrlId": "my_group",
      "isPublicApply": true,
      "publicUrl": "https://groupl.es/join/my_group",
      "publicRole": "525c8d6fe4b0cfcd83758323",
      "showInPublicDirectory": false,
      "publicPermissions": [
        "post",
        "comment",
        "reshare",
        "modify",
        "view",
        "invite"
      ],
      "groupThematicType": "Academic",
      "love": true,
      "permissions": [
        "post",
        "comment",
        "reshare",
        "modify",
        "view",
        "invite",
        "change_member_perms",
        "remove_member",
        "delete_group"
      ],
      "showGroupTweets": true,
      "_links": {
        "self": {
          "href": "/api/v2/group/53847341e4b0301f9d14dbdf"
        },
        "publicPage": {
          "href": "https://groupl.es/join/my_group"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
                "self" : { "href": "/api/v2/groups" }
            }
        }

+ Response 400 (application/hal+json)

        {
            "message" : "Missing name parameter",
            "errorCode" : 603,
            "links" : {
                "self" : { "href": "/api/v2/groups" }
            }
        }

+ Response 412 (application/hal+json)

        {
            "message" : "This url is taken. Please choose another one",
            "suggestedUrlId": "my_second_group1",
            "links" : {
                "self" : { "href": "/api/v2/groups" }
            }
        }


## Group [/group/{groupId}]

### Retrieve a group [GET]

If user has no access to group, 404 is returned instead of 403 (we're hiding existence of the group)

+ Response 200 (application/hal+json)

    {
      "color": {
        "defaultColor": "#dabe5b",
        "light": "#e6d391",
        "dark": "#cda824"
      },
      "name": "My second group",
      "id": "53847341e4b0301f9d14dbdf",
      "isPublic": true,
      "descriptionPlain": "This is just testing group",
      "isConfirmed": true,
      "publicUrlId": "my_group",
      "isPublicApply": true,
      "publicUrl": "https://groupl.es/join/my_group",
      "publicRole": "525c8d6fe4b0cfcd83758323",
      "showInPublicDirectory": false,
      "publicPermissions": [
        "post",
        "comment",
        "reshare",
        "modify",
        "view",
        "invite"
      ],
      "groupThematicType": "Academic",
      "love": true,
      "permissions": [
        "post",
        "comment",
        "reshare",
        "modify",
        "view",
        "invite",
        "change_member_perms",
        "remove_member",
        "delete_group"
      ],
      "showGroupTweets": true,
      "_links": {
        "self": {
          "href": "/api/v2/group/53847341e4b0301f9d14dbdf"
        },
        "publicPage": {
          "href": "https://groupl.es/join/my_group"
        }
      }
    }

+ Response 404 (application/hal+json)

        {
            "message" : "group doesn't exist",
            "links" : {
              "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
              "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" },
              "login" : { "href": "/api/v2/auth/login" }
            }
        }

### Update group [PUT]

Update group data. Omitted optional fields left untouched

+ Request Change to public group with all data provided (application/json)

    All possible data for group updating. This example updates group to public group with approvals and 2 application questions.

    + Headers

            Authorization: Sgrouples accessToken=abc123

    + Body

            {
                "name": "My second group",
                "color": "#dabe5b",
                "groupThematicType": "Academic",
                "love": true,
                "isPublic": true,
                "isPublicApply": true,
                "description": "This is just testing group",
                "fileId": "5ca0e8410c2dbea361af663f",
                "crop": {"x": 0, "y": 0, "w": 1024, "h": 768},
                "showGroupTweets": true,
                "publicUrlId": "my_second_group",
                "generatePublicUrlId": false,
                "publicRole": "Contributor",
                "publicPermissions": ["post","comment","reshare","modify","view","invite"],
                "applyQuestions" : ["Question1", "Question2"],
                "showInPublicDirectory": false
            }

+ Response 200 (application/hal+json)

            {
              "color": {
                "defaultColor": "#dabe5b",
                "light": "#e6d391",
                "dark": "#cda824"
              },
              "name": "My second group 2",
              "id": "53610face4b0c07c372326ae",
              "isPublic": true,
              "descriptionPlain": "This is just testing group",
              "isConfirmed": true,
              "publicUrlId": "my_group",
              "isPublicApply": true,
              "publicUrl": "https://groupl.es/join/my_group",
              "publicRole": "525c8d6fe4b0cfcd83758323",
              "showInPublicDirectory": false,
              "publicPermissions": [
                "post",
                "comment",
                "reshare",
                "modify",
                "view",
                "invite"
              ],
              "groupThematicType": "Academic",
              "love": true,
              "showGroupTweets": true,
              "_links": {
                "self": {
                  "href": "/api/v2/group/53610face4b0c07c372326ae"
                },
                "publicPage": {
                  "href": "https://groupl.es/join/my_group"
                }
              }
            }

+ Response 400 (application/hal+json)

        {
            "message" : "Missing some parameter",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" }
            }
        }


+ Response 403 (application/hal+json)

        {
            "message" : "no permissions for updating group",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" }
            }
        }

+ Response 404 (application/hal+json)

        {
            "message" : "group doesn't exist",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }



### Remove a group [DELETE]

+ Parameters
    + password (required, string, `Test!QAZ234`) ... user's pasword

+ Response 204

+ Response 404 (application/hal+json)

        {
            "message" : "group doesn't exist",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" }
            }
        }


+ Response 403 (application/hal+json)

        {
            "message" : "no permissions for deleting group",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
                "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Groups news-feed [/group/{groupId}/newsfeed]

### Retrieve news-feed of group [GET]

+ Response 200 (application/hal+json)

    {
      "posts": [
        {
          "id": "538340a2e4b080bf55348c6f",
          "text": "be there. <a class=\"ht\">#one</a> <a class=\"ht\">#two</a> <a class=\"ht\">#ble_ble_ble</a> <a class=\"ht\">#qwerty</a>",
          "textPlain": "be there. #one #two #ble_ble_ble #qwerty",
          "createdAt": 1401110690,
          "postType": "recurring_event",
          "photo": {
            "id": "538340a2e4b080bf55348c6c",
            "name": "Straight-Edge-Hard-Core-cm-punk-16931148-1280-960.jpg",
            "size": {
              "width": 1280,
              "height": 960
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/538340a2e4b080bf55348c6c/{imageSize}/Straight-Edge-Hard-Core-cm-punk-16931148-1280-960.jpg",
                "templated": true
              }
            }
          },
          "canShare": false,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": false,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "event": {
            "id": "5383407ee4b080bf55348c47",
            "name": "Some event",
            "description": "be there.",
            "startDate": 1401112800,
            "endDate": 1401116400,
            "title": "May 26 Some event 4:00PM at everywhere!!!",
            "location": "everywhere!!!",
            "isAllDay": false,
            "reminders": false,
            "isRecurring": false,
            "recurrence": {
              "sunday": false,
              "tuesday": false,
              "wednesday": false,
              "monday": false,
              "interval": 1,
              "friday": false,
              "frequency": "",
              "thursday": false,
              "saturday": false
            },
            "_links": {
              "photoUrl": {
                "href": "/api/v2/myphoto/538340a2e4b080bf55348c6c/300x300/img.jpg"
              }
            }
          },
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "profileImageId": "",
            "firstName": "Tester2",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester2.sgroupler",
            "descriptionPlain": "",
            "descriptionRich": "",
            "fprint": "",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=53833f2ae4b080bf553488bd&f=",
                "templated": true
              }
            }
          },
          "likesCount": 2,
          "likes": [
            {
              "id": "53833da7e4b080bf553482bb",
              "name": "Tester1 Sgroupler",
              "_links": {
                "avatar": {
                  "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F5527344430004KU3WY",
                  "templated": true
                }
              }
            },
            {
              "id": "53833dcae4b080bf5534834e",
              "name": "Tester2 Sgroupler",
              "_links": {
                "avatar": {
                  "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=53833f2ae4b080bf553488bd&f=F552734443001U0MPD5",
                  "templated": true
                }
              }
            }
          ],
          "commentsCount": 2,
          "comments": [
            {
              "text": "I have to be there then :)",
              "textRich": "I have to be there then <span class='emotes' style='font-size: 100%'>&#12484;</span>",
              "id": "53834107e4b080bf55348d6e",
              "owner": {
                "id": "53833da7e4b080bf553482bb",
                "name": "Tester1 Sgroupler",
                "_links": {
                  "avatar": {
                    "href": "/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ"
                  }
                }
              },
              "postId": "538340a2e4b080bf55348c6f",
              "groupId": "53833f2ae4b080bf553488bd",
              "createdAt": 1401110791,
              "likesCount": 1,
              "likes": [
                {
                  "id": "53833dcae4b080bf5534834e",
                  "name": "Tester2 Sgroupler",
                  "_links": {
                    "avatar": {
                      "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=&f=",
                      "templated": true
                    }
                  }
                }
              ],
              "canRemove": true,
              "canLike": true,
              "canEdit": true,
              "pending": false,
              "system": "group"
            },
            {
              "text": "Yes You have to be ;]",
              "textRich": "Yes You have to be ;]",
              "id": "538347d6e4b080bf55349f51",
              "owner": {
                "id": "53833dcae4b080bf5534834e",
                "name": "Tester2 Sgroupler",
                "_links": {
                  "avatar": {
                    "href": "/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=53833f2ae4b080bf553488bd&f="
                  }
                }
              },
              "postId": "538340a2e4b080bf55348c6f",
              "groupId": "53833f2ae4b080bf553488bd",
              "createdAt": 1401112534,
              "likesCount": 0,
              "likes": [],
              "canRemove": true,
              "canLike": true,
              "canEdit": false,
              "pending": false,
              "system": "group"
            }
          ],
          "_links": {
            "self": {
              "href": "/api/v2/post/538340a2e4b080bf55348c6f"
            }
          }
        },
        {
          "id": "5383406de4b080bf55348c0b",
          "text": "",
          "textPlain": "",
          "createdAt": 1401110637,
          "postType": "multi_doc",
          "canShare": false,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": false,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "documents": [
            {
              "id": "5383406be4b080bf55348bb2",
              "documentType": "pdf",
              "fileName": "1.pdf",
              "length": "10.98 kB",
              "editableDocumentId": "",
              "_links": {
                "self": {
                  "href": "/api/v2/doc/5383406be4b080bf55348bb2/1.pdf"
                }
              }
            },
            {
              "id": "5383406be4b080bf55348bc7",
              "documentType": "pdf",
              "fileName": "2.pdf",
              "length": "10.98 kB",
              "editableDocumentId": "",
              "_links": {
                "self": {
                  "href": "/api/v2/doc/5383406be4b080bf55348bc7/2.pdf"
                }
              }
            },
            {
              "id": "5383406be4b080bf55348bc8",
              "documentType": "pdf",
              "fileName": "3.pdf",
              "length": "10.98 kB",
              "editableDocumentId": "",
              "_links": {
                "self": {
                  "href": "/api/v2/doc/5383406be4b080bf55348bc8/3.pdf"
                }
              }
            },
            {
              "id": "5383406be4b080bf55348bc9",
              "documentType": "pdf",
              "fileName": "4.pdf",
              "length": "10.98 kB",
              "editableDocumentId": "",
              "_links": {
                "self": {
                  "href": "/api/v2/doc/5383406be4b080bf55348bc9/4.pdf"
                }
              }
            },
            {
              "id": "5383406ce4b080bf55348bca",
              "documentType": "pdf",
              "fileName": "5.pdf",
              "length": "10.98 kB",
              "editableDocumentId": "",
              "_links": {
                "self": {
                  "href": "/api/v2/doc/5383406ce4b080bf55348bca/5.pdf"
                }
              }
            },
            {
              "id": "5383406ce4b080bf55348bcb",
              "documentType": "pdf",
              "fileName": "6.pdf",
              "length": "10.98 kB",
              "editableDocumentId": "",
              "_links": {
                "self": {
                  "href": "/api/v2/doc/5383406ce4b080bf55348bcb/6.pdf"
                }
              }
            }
          ],
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "profileImageId": "",
            "firstName": "Tester2",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester2.sgroupler",
            "descriptionPlain": "",
            "descriptionRich": "",
            "fprint": "",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=53833f2ae4b080bf553488bd&f=",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/5383406de4b080bf55348c0b"
            }
          }
        },
        {
          "id": "5383405ce4b080bf55348af9",
          "text": "",
          "textPlain": "",
          "createdAt": 1401110620,
          "postType": "doc",
          "canShare": false,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": false,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "document": {
            "id": "5383405ae4b080bf55348ae5",
            "name": "1.pdf",
            "type": "pdf",
            "size": 11241,
            "isEditable": false,
            "_links": {
              "url": {
                "href": "/api/v2/doc/5383405ae4b080bf55348ae5/1.pdf"
              },
              "iconUrl": {
                "href": "/img/icons/pdf.png"
              }
            }
          },
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "profileImageId": "",
            "firstName": "Tester2",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester2.sgroupler",
            "descriptionPlain": "",
            "descriptionRich": "",
            "fprint": "",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=53833f2ae4b080bf553488bd&f=",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/5383405ce4b080bf55348af9"
            }
          }
        },
        {
          "id": "53834052e4b080bf55348a65",
          "text": "and my reply.",
          "textPlain": "and my reply.",
          "createdAt": 1401110610,
          "postType": "discussion",
          "canShare": false,
          "canRemove": true,
          "canComment": false,
          "canLike": true,
          "canEdit": false,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "discussion": {
            "id": "53834052e4b080bf55348a6b",
            "topicId": "53834044e4b080bf55348a17",
            "isTopic": false,
            "topicTitle": "Some discussion start"
          },
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "profileImageId": "",
            "firstName": "Tester2",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester2.sgroupler",
            "descriptionPlain": "",
            "descriptionRich": "",
            "fprint": "",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=53833f2ae4b080bf553488bd&f=",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834052e4b080bf55348a65"
            }
          }
        },
        {
          "id": "53834048e4b080bf55348a46",
          "text": "my reply.",
          "textPlain": "my reply.",
          "createdAt": 1401110600,
          "postType": "discussion",
          "canShare": false,
          "canRemove": true,
          "canComment": false,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "discussion": {
            "id": "53834048e4b080bf55348a4c",
            "topicId": "53834044e4b080bf55348a17",
            "isTopic": false,
            "topicTitle": "Some discussion start"
          },
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834048e4b080bf55348a46"
            }
          }
        },
        {
          "id": "53834044e4b080bf55348a12",
          "text": "I think bla bla bla.",
          "textPlain": "I think bla bla bla.",
          "createdAt": 1401110596,
          "postType": "discussion",
          "canShare": false,
          "canRemove": true,
          "canComment": false,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "discussion": {
            "id": "53834044e4b080bf55348a17",
            "title": "Some discussion start",
            "isTopic": true,
            "repliesCount": 0
          },
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834044e4b080bf55348a12"
            }
          }
        },
        {
          "id": "53834035e4b080bf553489b8",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110581,
          "postType": "multi_photo",
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "photosCount": 6,
          "previewImagesIdsWithPostsIds": [
            {
              "imageId": "53834034e4b080bf5534899a",
              "_links": {
                "img": {
                  "href": "/api/v2/photo/53834034e4b080bf5534899a/{imageSize}/img.jpg",
                  "templated": true
                }
              }
            },
            {
              "imageId": "53834034e4b080bf5534899f",
              "_links": {
                "img": {
                  "href": "/api/v2/photo/53834034e4b080bf5534899f/{imageSize}/img.jpg",
                  "templated": true
                }
              }
            },
            {
              "imageId": "53834034e4b080bf553489a4",
              "_links": {
                "img": {
                  "href": "/api/v2/photo/53834034e4b080bf553489a4/{imageSize}/img.jpg",
                  "templated": true
                }
              }
            },
            {
              "imageId": "53834034e4b080bf553489a9",
              "_links": {
                "img": {
                  "href": "/api/v2/photo/53834034e4b080bf553489a9/{imageSize}/img.jpg",
                  "templated": true
                }
              }
            },
            {
              "imageId": "53834035e4b080bf553489ae",
              "_links": {
                "img": {
                  "href": "/api/v2/photo/53834035e4b080bf553489ae/{imageSize}/img.jpg",
                  "templated": true
                }
              }
            }
          ],
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834035e4b080bf553489b8"
            }
          }
        },
        {
          "id": "53834033e4b080bf55348995",
          "text": "Descrption of album.",
          "textPlain": "Descrption of album.",
          "createdAt": 1401110579,
          "postType": "album",
          "photo": {
            "id": "53834034e4b080bf5534899a",
            "name": "100-Test.jpg",
            "size": {
              "width": 1268,
              "height": 1600
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834034e4b080bf5534899a/{imageSize}/100-Test.jpg",
                "templated": true
              }
            }
          },
          "canShare": false,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834033e4b080bf55348995"
            }
          }
        },
        {
          "id": "53834030e4b080bf55348985",
          "text": "Video post.",
          "textPlain": "Video post.",
          "createdAt": 1401110576,
          "postType": "video",
          "photo": {
            "id": "53834030e4b080bf55348982",
            "name": "",
            "size": {
              "width": 192,
              "height": 108
            },
            "mime": "image/png",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834030e4b080bf55348982/{imageSize}/image.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834030e4b080bf55348985"
            },
            "res1080pMp4": {
              "href": "/api/v2/proxy/video?postId=53834030e4b080bf55348985&resolution=1080p"
            },
            "res720pMp4": {
              "href": "/api/v2/proxy/video?postId=53834030e4b080bf55348985&resolution=720p"
            },
            "res480pMp4": {
              "href": "/api/v2/proxy/video?postId=53834030e4b080bf55348985&resolution=480p"
            }
          }
        },
        {
          "id": "53834008e4b080bf55348973",
          "text": "Photo post.",
          "textPlain": "Photo post.",
          "createdAt": 1401110536,
          "postType": "photo",
          "photo": {
            "id": "53834008e4b080bf55348972",
            "name": "Kwiaty_Dachowki.jpg",
            "size": {
              "width": 1600,
              "height": 1064
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834008e4b080bf55348972/{imageSize}/Kwiaty_Dachowki.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834008e4b080bf55348973"
            }
          }
        },
        {
          "id": "53833ffae4b080bf5534896b",
          "text": "Simple text post.",
          "textPlain": "Simple text post.",
          "createdAt": 1401110522,
          "postType": "text",
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": false,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53833ffae4b080bf5534896b"
            }
          }
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/group/53833f2ae4b080bf553488bd/newsfeed"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
              "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" },
              "login" : { "href": "/api/v2/auth/login" }
            }
        }



## Groups photo-feed [/group/{groupId}/photofeed]

### Retrieve photo-feed of group [GET]

+ Parameters
    + before (integer, `0`) ... before images number
    + after (integer, `10`) ... after images number
    + postId (string, `530b3ce7e4b03599f26fd91e`) ... postId objectId to get feed around this post
    + imgId (string, `5214b93c036484b69aaf8411`) ... imgId objectId to get feed around this image

+ Response 200 (application/hal+json)

    {
      "photos": [
        {
          "id": "53834035e4b080bf553489b4",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110581,
          "postType": "photo",
          "photo": {
            "id": "53834035e4b080bf553489b3",
            "name": "hcwillneverdie.jpg",
            "size": {
              "width": 1600,
              "height": 1000
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834035e4b080bf553489b3/{imageSize}/hcwillneverdie.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834035e4b080bf553489b4"
            }
          },
          "no": 7
        },
        {
          "id": "53834035e4b080bf553489af",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110581,
          "postType": "photo",
          "photo": {
            "id": "53834035e4b080bf553489ae",
            "name": "hardcore.jpg",
            "size": {
              "width": 503,
              "height": 283
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834035e4b080bf553489ae/{imageSize}/hardcore.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed":false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834035e4b080bf553489af"
            }
          },
          "no": 6
        },
        {
          "id": "53834034e4b080bf553489aa",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110580,
          "postType": "photo",
          "photo": {
            "id": "53834034e4b080bf553489a9",
            "name": "exam-sweat2.gif",
            "size": {
              "width": 1221,
              "height": 1314
            },
            "mime": "image/gif",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834034e4b080bf553489a9/{imageSize}/exam-sweat2.gif",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834034e4b080bf553489aa"
            }
          },
          "no": 5
        },
        {
          "id": "53834034e4b080bf553489a5",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110580,
          "postType": "photo",
          "photo": {
            "id": "53834034e4b080bf553489a4",
            "name": "event.jpg",
            "size": {
              "width": 275,
              "height": 183
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834034e4b080bf553489a4/{imageSize}/event.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834034e4b080bf553489a5"
            }
          },
          "no": 4
        },
        {
          "id": "53834034e4b080bf553489a0",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110580,
          "postType": "photo",
          "photo": {
            "id": "53834034e4b080bf5534899f",
            "name": "bigstock-Test-word-on-white-keyboard-27134336.jpg",
            "size": {
              "width": 500,
              "height": 332
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834034e4b080bf5534899f/{imageSize}/bigstock-Test-word-on-white-keyboard-27134336.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834034e4b080bf553489a0"
            }
          },
          "no": 3
        },
        {
          "id": "53834034e4b080bf5534899b",
          "text": " <a class=\"ht\">#super_album</a>",
          "textPlain": " #super_album",
          "createdAt": 1401110580,
          "postType": "photo",
          "photo": {
            "id": "53834034e4b080bf5534899a",
            "name": "100-Test.jpg",
            "size": {
              "width": 1268,
              "height": 1600
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834034e4b080bf5534899a/{imageSize}/100-Test.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834034e4b080bf5534899b"
            }
          },
          "no": 2
        },
        {
          "id": "53834008e4b080bf55348973",
          "text": "Photo post.",
          "textPlain": "Photo post.",
          "createdAt": 1401110536,
          "postType": "photo",
          "photo": {
            "id": "53834008e4b080bf55348972",
            "name": "Kwiaty_Dachowki.jpg",
            "size": {
              "width": 1600,
              "height": 1064
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834008e4b080bf55348972/{imageSize}/Kwiaty_Dachowki.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "isFeatured": false,
          "showInFeed": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834008e4b080bf55348973"
            }
          },
          "no": 1
        }
      ],
      "allCount": 7,
      "_links": {
        "self": {
          "href": "/api/v2/group/53833f2ae4b080bf553488bd/photofeed"
        }
      }
    }

+ Response 404 (application/hal+json)

        {
            "message" : "group doesn't exist",
            "links" : {
              "self":{ "href":"/api/v2/group/group/5151798003642f3cd473ad79" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
              "self":{ "href":"/api/v2/group/group/5151798003642f3cd473ad79" },
              "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Groups member list [/group/{groupId}/members]

### Retrieve list of group members [GET]

+ Response 200 (application/hal+json)

    {
      "members": [
        {
          "user": {
            "id": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "profileImageId": "",
            "firstName": "Tester2",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester2.sgroupler",
            "descriptionPlain": "",
            "descriptionRich": "",
            "fprint": "",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=&f=",
                "templated": true
              }
            }
          },
          "role": {
            "id": "525c8d6fe4b0cfcd83758323",
            "name": "Contributor"
          },
          "canSendMessage": true,
          "confirmed": true,
          "online": true
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/group/53833f2ae4b080bf553488bd/members"
        }
      }
    }


### Invite member [POST]

+ Request Text post (application/json)

    Example of new member invitation payload.

    + Headers

            Authorization: Sgrouples accessToken=abc123

    + Body

            {
                "message": "Invitation message",
                "emailInvitees" :[{"emails":"tester3@localhost.com","permissions":"post,comment,reshare,modify,invite"}],
                "userInvitees":[{"userId":"53833de2e4b080bf5534840e","permissions":"post,comment,reshare,modify,invite"}],
                "liUsersInvitees":[]
            }

+ Request Text post with linkedin (application/json)

    Example of new member invitation payload.

    + Headers

            Authorization: Sgrouples accessToken=abc123

    + Body

            {
                "message": "Invitation message",
                "emailInvitees" :[{"emails":"tester3@localhost.com","permissions":"post,comment,reshare,modify,invite"}],
                "userInvitees":[{"userId":"53833de2e4b080bf5534840e","permissions":"post,comment,reshare,modify,invite"}],
                "liUsersInvitees":[{"userId":"bG6D18y4E3","firstName":"LinkedIn","lastName":"User","permissions":"post,comment,reshare,modify,invite"}]
            }

+ Response 200

        {
          "status": {
            "linkedInInviteesUids": [],
            "sent": 2
          },
          "_links": {
            "self": {
              "href": "/api/v2/group/52a1d4cde4b0e4fc6869e997/members"
            }
          }
        }

+ Response 401 (application/hal+json)

        {
            "message": "user not authenticated",
            "links": {
                "self": { "href": "/api/v2/group/{groupId}/members" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 404 (application/hal+json)

        {
            "message": "user doesn't exist",
            "links": {
                "self": { "href":"/api/v2/group/{groupId}/members" }
            }
        }


## Invite member by phone numbers [/group/{groupId}/invite/sms]

### Invite member [POST]

+ Parameters
    + invitees  ... array, each element is string of numebrs and string of permissions
    + numbers ... string of phone numbers with or without country codes
    + permissions ... string of permissions for invitee from numbers
    + countryCode (optional, string) ... optional country code like +48, not needed if user has own number validated or all phones have country codes

+ Request Text post (application/json)

    Example of new member invitation payload.

    + Headers

            Authorization: Sgrouples accessToken=abc123

    + Body

            {
                "invitees" :[{"numbers":"666745254,700985632","permissions":"post,comment,reshare,modify,invite"}],
                "countryCode" : "+48"
            }

+ Response 200

        {
          "created": 2,
        },
          "_links": {
            "self": {
              "href": "/api/v2/group/{groupId}/invite/sms"
            }
          }
        }

+ Response 401 (application/hal+json)

        {
            "message": "user not authenticated",
            "links": {
                "self": { "href": "/api/v2/group/{groupId}/invite/sms" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }




## Group chat post message [/group/{groupId}/chat/post?message=hello]

### Post group chat message [POST]

+ Parameters
    + message (required, string, `hello`) ... sample message

+ Response 200 (application/hal+json)

        {
          "text": "hello",
          "author": {
            "userId": "5284b3efe4b0a03e1e743b55",
            "name": "Tester Apiary",
            "fprint": ""
          },
          "textMidRich": "hello",
          "date": 1399916760,
          "id": "537108d8e4b00aeeb7f25e8d",
          "_links": {
            "self": {
              "href": "/api/v2/group/537108d4e4b00aeeb7f25e7f/chat/post"
            }
          },
          "sent": true,
          "canDelete": true
        }

+ Response 401 (application/hal+json)

        {
                "message": "could not sent message.",
                "links": {
                        "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/chat/post" }
                }
        }

+ Response 401 (application/hal+json)

        {
            "message": "Not logged in",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/chat/post" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 403 (application/hal+json)

        {
                "message": "permission denied",
                "_links":{
                        "self":{
                                "href":"/api/v2/group/52dea3ef44aecff995a8d76b/chat/post"
                        }
                }
        }

## Typing in group chat [/group/{groupId}/chat/typing]

### Post typing info [POST]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message": "Not logged in",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/chat/typing" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 403 (application/hal+json)

        {
                "message": "permission denied",
                "_links":{
                        "self":{
                                "href":"/api/v2/group/52dea3ef44aecff995a8d76b/chat/typing"
                        }
                }
        }

## Group chat msg remove [/group/chat/message/{messageId}/remove]

### Group chat msg remove [DELETE]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message": "Not logged in",
            "links": {
                "self": { "href": "/api/v2/group/chat/message/531b248c44ae27c85fd14de8/remove" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 403 (application/hal+json)

        {
                "message": "permission denied",
                "_links":{
                        "self":{
                                "href":"/api/v2/group/chat/message/531b248c44ae27c85fd14de8/remove"
                        }
                }
        }

+ Response 404 (application/hal+json)

        {
                "message": "Message not found.",
                        "_links":{
                        "self":{
                                "href":"/api/v2/group/chat/message/531b248c44ae27c85fd14de8/remove"
                        }
                }
        }

## Get group chat messages [/group/{groupId}/chat/messages?offset=0&maxResults=20]

### Get group chat messages [GET]

+ Parameters
    + offset (integer, `0`) ... offset
    + maxResults (integer, `20`) ... max results

+ Response 200 (application/hal+json)

    {
      "messages": [
        {
          "text": "Hi ho ho",
          "author": {
            "userId": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "fprint": ""
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/5497e9c0e4b013c216f5c645?group=&f=F830104488448DKENEA",
                "templated": true
              }
            }
          },
          "textMidRich": "Hi ho ho",
          "date": 1401112121,
          "id": "53834639e4b080bf55349c7c",
          "_links": {
            "self": {
              "href": "/api/v2/group/53833f2ae4b080bf553488bd/chat/post"
            }
          },
          "canDelete": true
        },
        {
          "text": "hello",
          "author": {
            "userId": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "fprint": ""
          },
          "textMidRich": "hello",
          "date": 1401112112,
          "id": "53834630e4b080bf55349c46",
          "_links": {
            "self": {
              "href": "/api/v2/group/53833f2ae4b080bf553488bd/chat/post"
            }
          },
          "canDelete": true
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/group/53833f2ae4b080bf553488bd/chat/messages"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message": "could not sent message.",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/chat/messages" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message": "Not logged in",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/chat/messages" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 403 (application/hal+json)

        {
                "message": "permission denied",
                "_links":{
                        "self":{
                                "href":"/api/v2/group/52dea3ef44aecff995a8d76b/chat/messages"
                        }
                }

## Invite confirm [/group/{groupId}/invite/confirm]

### Invite confirm [POST]

+ Response 200 (application/hal+json)

        {
          "confirmed":true,
          "contact":{
            "confirmedAt":1389276964,
            "id":"52ceaf1944ae6f2792498b68",
            "groups":[],
            "user":{
              "id":"52cc18f844ae9df1863b2a94",
              "name":"AAAA AAAA",
              "fprint":"",
              "_links":{
                "avatar":{
                  "href":"/photo/profile/{imageSize}/52cc18f844ae9df1863b2a94.jpg?f=F5897939102732NHSGK",
                  "templated":true
                }
              }
            }
          },
          "_links":{
            "self":{
              "href":"/api/v2/group/533c0c5344ae50669e0a562f/invite/confirm"
            }
          }
        }

+ Response 400 (application/hal+json)

        {
            "message": "Invitation not confirmed",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/invite/confirm" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message": "Not logged in",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/invite/confirm" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

## Invite decline [/group/{groupId}/invite/decline]

### Invite decline [POST]

+ Response 204

+ Response 400 (application/hal+json)

        {
            "message": "Invitation not declined",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/invite/confirm" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

+ Response 401 (application/hal+json)

        {
            "message": "Not logged in",
            "links": {
                "self": { "href": "/api/v2/group/52dea3ef44aecff995a8d76b/invite/decline" },
                "login": { "href": "/api/v2/auth/login" }
            }
        }

## Groups discussions topic feed [/group/{groupId}/discussions/feed]

### Retrieve discussions topic feed of group [GET]

+ Response 200 (application/hal+json)

    {
      "posts": [
        {
          "id": "53834044e4b080bf55348a12",
          "text": "I think bla bla bla.",
          "textPlain": "I think bla bla bla.",
          "createdAt": 1401110596,
          "postType": "discussion",
          "canShare": false,
          "canRemove": true,
          "canComment": false,
          "canLike": true,
          "canEdit": true,
          "canHide": true,
          "canFeature": true,
          "pending": false,
          "showInFeed": true,
          "discussion": {
            "id": "53834044e4b080bf55348a17",
            "title": "Some discussion start",
            "isTopic": true,
            "repliesCount": 2
          },
          "isFeatured": false,
          "group": {
            "id": "53833f2ae4b080bf553488bd",
            "name": "Private Group",
            "_links": {
              "self": {
                "href": "/api/v2/group/53833f2ae4b080bf553488bd"
              }
            }
          },
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734443557JR1R4M",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=53833f2ae4b080bf553488bd&f=F552734443557JR1R4M",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834044e4b080bf55348a12"
            }
          }
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/group/53833f2ae4b080bf553488bd/discussions/feed"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
              "self":{ "href":"/api/v2/group/5cd4284dc2e60ed315a08e9c" },
              "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Group application apply [/group/public/{publicUrlId}/apply]

### Group application apply [POST]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Group applications list [/group/{groupId}/applications/list]

### Group applications list [GET]

+ Response 200 (application/hal+json)

    {
      "applications": [
        {
          "id": "5384470be4b0301f9d149bfb",
          "user": {
            "id": "53833de2e4b080bf5534840e",
            "name": "Tester3 Sgroupler",
            "email": "tester3@localhost.com"
          },
          "groupId": "53833ef6e4b080bf55348897",
          "createdAt": 1401177867,
          "answers": []
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/group/53833ef6e4b080bf55348897/applications/list"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Group applications approve all [/group/{groupId}/applications/approve-all]

### Group applications approve all [POST]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Group applications reject all [/group/{groupId}/applications/reject-all]

### Group applications reject all [POST]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Group application approve [/group/application/{appId}/approve]

### Group application approve [POST]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }


## Group application reject [/group/application/{appId}/reject]

### Group application reject [POST]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Group member remove [/group/{groupId}/member/{userId}/remove]

### Group member remove [DELETE]

+ Response 200 (application/hal+json)

      {
        "message": "ok",
        "_links": {
          "self": {
            "href": "/api/v2/group/537f0cc844aed4420ecec1e0/member/53676aeb44aea29517e70c2b/remove"
          }
        }
      }

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Remove member from all my groups [/groups/my/{userId}/remove]

### Remove member from all my groups [DELETE]

+ Response 204

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Predefined group photo [/photo/predefined/group?picNo={picNo}]

### Predefined group photo [POST]

+ Response 200 (application/hal+json)

    {
      "name":"group_1.jpg",
      "type":"image/jpeg",
      "size":434941,
      "ui":"53871a2b44aea9cfda63b09e",
      "msgcolor":"#333",
      "_links":{
        "url":{
          "href":"https://groupl.es/api/v2/tmpimage/medium/53871a2b44aea9cfda63b09e"
        },
        "fullImgUrl":{
          "href":"https://groupl.es/api/v2/tmpimage/53871a2b44aea9cfda63b09e"
        },
        "self":{
          "href":"/api/v2/photo/predefined/group"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Public groups categories [/groups/public/categories]

### Public groups categories [GET]

+ Response 200 (application/hal+json)

    {
      "categories": [
        {
          "category": "Lifestyle",
          "count": 1
        },
        {
          "category": "Sports Teams",
          "count": 1
        },
        {
          "category": "Gaming",
          "count": 1
        },
        {
          "category": "Community",
          "count": 1
        },
        {
          "category": "Education",
          "count": 2
        },
        {
          "category": "Group Type",
          "count": 23
        },
        {
          "category": "Photography / Videography",
          "count": 1
        },
        {
          "category": "Uncategorized",
          "count": 553
        },
        {
          "category": "Academic",
          "count": 2
        },
        {
          "category": "Family",
          "count": 1
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/groups/public/categories"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }

## Groups from category [/groups/public/{category}]

### Groups from category [GET]
+ Parameters
    + category (string, `Lifestyle`) ...

+ Response 200 (application/hal+json)

    {
      "groups": [
        {
          "color": {
            "defaultColor": "#b36978",
            "light": "#cc9ba5",
            "dark": "#99374b"
          },
          "name": "Hungry Hippos",
          "id": "541a1525e4b0e7a8e573af79",
          "isPublic": true,
          "descriptionPlain": "This is a very hungry group! If you're a hippo, you're welcome here!",
          "publicUrlId": "hungry_hippos",
          "isPublicApply": true,
          "publicUrl": "https://groupl.es/join/hungry_hippos",
          "publicRole": "525c8d6fe4b0cfcd83758323",
          "showInPublicDirectory": true,
          "groupThematicType": "Lifestyle",
          "love": true,
          "showGroupTweets": true,
          "_links": {
            "self": {
              "href": "/api/v2/group/541a1525e4b0e7a8e573af79"
            },
            "publicPage": {
              "href": "https://groupl.es/join/hungry_hippos"
            }
          }
        }
      ],
      "_links": {
        "self": {
          "href": "/api/v2/groups/public/Lifestyle"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "Not logged in",
            "_links" : {
                "self" : { "href": "/api/v2/groups" },
                "login" : { "href": "/api/v2/auth/login" }
            }
        }


# Group News feed

## News feed - photos [/photofeed{groupId}]

### Retrieve main photo-feed [GET]

+ Parameters
    + groupId (optional, string, `wn-contacts`) ... param to give You feed You want, wn-contacts is mixed myworld+newsfeed,
    empty this param is only myworld

+ Response 200 (application/hal+json)

    {
      "photos": [
        {
          "id": "538346cee4b080bf55349e02",
          "text": "",
          "textPlain": "",
          "createdAt": 1401112270,
          "postType": "photo",
          "photo": {
            "id": "538346cee4b080bf55349e01",
            "name": "Testing-do-not-disturb.jpg",
            "size": {
              "width": 640,
              "height": 439
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/538346cee4b080bf55349e01/{imageSize}/Testing-do-not-disturb.jpg",
                "templated": true
              }
            }
          },
          "canShare": false,
          "canRemove": false,
          "canComment": true,
          "canLike": true,
          "canEdit": false,
          "canHide": false,
          "canFeature": false,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "owner": {
            "id": "53833dcae4b080bf5534834e",
            "name": "Tester2 Sgroupler",
            "profileImageId": "",
            "firstName": "Tester2",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester2.sgroupler",
            "descriptionPlain": "",
            "descriptionRich": "",
            "fprint": "",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=&f=",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/538346cee4b080bf55349e02"
            }
          },
          "no": 2
        },
        {
          "id": "538346c4e4b080bf55349df0",
          "text": "",
          "textPlain": "",
          "createdAt": 1401112260,
          "postType": "photo",
          "photo": {
            "id": "538346c4e4b080bf55349def",
            "name": "joga1.jpg",
            "size": {
              "width": 395,
              "height": 265
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/538346c4e4b080bf55349def/{imageSize}/joga1.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": true,
          "canEdit": true,
          "canHide": false,
          "canFeature": false,
          "pending": false,
          "isFeatured": false,
          "showInFeed": false,
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/538346c4e4b080bf55349df0"
            }
          },
          "no": 1
        }
      ],
      "allCount": 2,
      "_links": {
        "self": {
          "href": "/api/v2/photofeed"
        }
      }
    }

+ Response 401 (application/hal+json)

        {
            "message" : "user not authenticated",
            "links" : {
              "self": { "href": "/api/v2/newsfeed"},
              "login": { "href": "/api/v2/auth/login" }
            }
        }

# Group My Cloud

## My Cloud feed - posts [/mycloud/newsfeed]

### Retrieve post feed from user mycloud [GET]

+ Response 200 (application/hal+json)

    {
      "posts": [
        {
          "id": "5386f397e4b0574fb19aa0e2",
          "text": " <a class=\"ht\">#pictures_of_me</a>",
          "textPlain": " #pictures_of_me",
          "createdAt": 1401353111,
          "postType": "photo",
          "photo": {
            "id": "53834008e4b080bf55348972",
            "name": "Kwiaty_Dachowki.jpg",
            "size": {
              "width": 1600,
              "height": 1064
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/53834008e4b080bf55348972/{imageSize}/Kwiaty_Dachowki.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": false,
          "canEdit": true,
          "canHide": true,
          "canFeature": false,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/5386f397e4b0574fb19aa0e2"
            }
          },
          "groups": []
        },
        {
          "id": "5386f396e4b0574fb19aa0c5",
          "text": " <a class=\"ht\">#pictures_of_me</a>",
          "textPlain": " #pictures_of_me",
          "createdAt": 1401353110,
          "postType": "photo",
          "photo": {
            "id": "538346c4e4b080bf55349def",
            "name": "joga1.jpg",
            "size": {
              "width": 395,
              "height": 265
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/538346c4e4b080bf55349def/{imageSize}/joga1.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": false,
          "canEdit": true,
          "canHide": true,
          "canFeature": false,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/5386f396e4b0574fb19aa0c5"
            }
          },
          "groups": []
        },
        {
          "id": "538346c4e4b080bf55349df0",
          "text": "",
          "textPlain": "",
          "createdAt": 1401112260,
          "postType": "photo",
          "photo": {
            "id": "538346c4e4b080bf55349def",
            "name": "joga1.jpg",
            "size": {
              "width": 395,
              "height": 265
            },
            "mime": "image/jpeg",
            "_links": {
              "img": {
                "href": "/api/v2/photo/538346c4e4b080bf55349def/{imageSize}/joga1.jpg",
                "templated": true
              }
            }
          },
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": false,
          "canEdit": true,
          "canHide": true,
          "canFeature": false,
          "pending": false,
          "isFeatured": false,
          "showInFeed": true,
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/538346c4e4b080bf55349df0"
            }
          },
          "groups": []
        },
        {
          "id": "538340e6e4b080bf55348ca1",
          "text": "<iframe src=\"https://www.youtube.com/embed/-mL5_f_ORHI?wmode=opaque\" frameborder=\"0\" allowfullscreen=\"allowfullscreen\" class=\"mp-youtube-embed\"></iframe>",
          "textPlain": "https://www.youtube.com/watch?v=-mL5_f_ORHI&index=34&list=PL2788304DC59DBEB4",
          "createdAt": 1401110758,
          "postType": "link",
          "canShare": true,
          "canRemove": true,
          "canComment": true,
          "canLike": false,
          "canEdit": true,
          "canHide": false,
          "canFeature": false,
          "pending": false,
          "showInFeed": true,
          "link": {
            "description": "The audio is under \"Public Domain\" The public domain is an intellectual property designation for the range of content that is not owned or controlled by anyo...",
            "title": "Beethoven - First movement from symphony nr5 - Best-of Classical Music - YouTube",
            "_links": {
              "thumbnail": {
                "href": "https://groupl.es/api/v2/proxy/img?target="
              },
              "url": {
                "href": "https://www.youtube.com/watch?v=-mL5_f_ORHI&index=34&list=PL2788304DC59DBEB4"
              }
            }
          },
          "isFeatured": false,
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 1,
          "likes": [
            {
              "id": "53833dcae4b080bf5534834e",
              "name": "Tester2 Sgroupler",
              "_links": {
                "avatar": {
                  "href": "/api/v2/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=&f=F552734443143JW5NJ0",
                  "templated": true
                }
              }
            }
          ],
          "commentsCount": 1,
          "comments": [
            {
              "text": "nice !",
              "textRich": "nice !",
              "id": "538340ede4b080bf55348cab",
              "owner": {
                "id": "53833dcae4b080bf5534834e",
                "name": "Tester2 Sgroupler",
                "_links": {
                  "avatar": {
                    "href": "/photo/profile/{imageSize}/53833dcae4b080bf5534834e.jpg?group=54116139e4b0ac5d8ddfc27c&f="
                  }
                }
              },
              "postId": "538340e6e4b080bf55348ca1",
              "createdAt": 1401110765,
              "likesCount": 1,
              "likes": [
                {
                  "id": "53833da7e4b080bf553482bb",
                  "name": "Tester1 Sgroupler",
                  "_links": {
                    "avatar": {
                      "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=",
                      "templated": true
                    }
                  }
                }
              ],
              "canRemove": true,
              "canLike": false,
              "canEdit": false,
              "pending": false,
              "system": "contacts"
            }
          ],
          "_links": {
            "self": {
              "href": "/api/v2/post/538340e6e4b080bf55348ca1"
            }
          },
          "groups": []
        },
        {
          "id": "53834048e4b080bf55348a46",
          "text": "my reply.",
          "textPlain": "my reply.",
          "createdAt": 1401110600,
          "postType": "discussion",
          "canShare": false,
          "canRemove": true,
          "canComment": false,
          "canLike": false,
          "canEdit": true,
          "canHide": true,
          "canFeature": false,
          "pending": false,
          "showInFeed": true,
          "discussion": {
            "id": "53834048e4b080bf55348a4c",
            "topicId": "53834044e4b080bf55348a17",
            "isTopic": false,
            "topicTitle": "Some discussion start"
          },
          "isFeatured": false,
          "owner": {
            "id": "53833da7e4b080bf553482bb",
            "name": "Tester1 Sgroupler",
            "profileImageId": "538346c4e4b080bf55349def",
            "firstName": "Tester1",
            "lastName": "Sgroupler",
            "registered": true,
            "contactInviteId": "tester1.sgroupler",
            "descriptionPlain": "test123",
            "descriptionRich": "test123",
            "fprint": "F552734397822ZSLUEQ",
            "_links": {
              "avatar": {
                "href": "/api/v2/photo/profile/{imageSize}/53833da7e4b080bf553482bb.jpg?group=&f=F552734397822ZSLUEQ",
                "templated": true
              }
            }
          },
          "likesCount": 0,
          "likes": [],
          "commentsCount": 0,
          "comments": [],
          "_links": {
            "self": {
              "href": "/api/v2/post/53834048e4b080bf55348a46"
            }
          },
          "groups": [
            {
              "id": "53833f2ae4b080bf553488bd",
              "name": "Private Group",
              "_links": {
                "self": {
                  "href": "/api/v2/group/53833f2ae4b080bf553488bd"
                }
              }
            }
          ]
        },
        {
          "id": "53834044e4b080bf55348a12",
          "text": "I think bla bla bla.",
          "textPlain": "I think bla bla bla.",
          "createdAt": 1401110596,
          "postType": "discussion",
          "canShare": false,
          "canRemove": true,
          "canComment": false,
          "canLike": false,
          "canEdit": true,
          "canHide": true,
          "canFeature": false,
          "pending": false,
          "showInFeed": true,
          "discussion": {
            "id": "53834044e4b080bf55348a17",
[...]
